* {
    margin: 0;
    padding: 0;
}

body {   
    font-family: monospace;
    background-color:#3A1078;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* judul */
.judul {
    font-size:4.5em ;
    color: #F7F7F8;
    margin:50px 0px;
    text-shadow: 3px 3px 5px rgb(5, 12, 107);
}

/* galery */
.gallery {
    border: 5px solid #4E31AA;
    width: 900px;
    height: 300px;
}

.gallery ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.gallery ul li{
    position: relative;
    transition: .8s;
}

.gallery ul li .img-1 {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid #4E31AA;
    background-position: center;
    background-size: cover;
}


/* paragraf nama gambar */
.gallery ul li p {
   position: absolute;
   line-height:200px;
   text-align: center;
   /* top: 100px; */
   left:72px; 
   color: #F7F7F8;
   font-size: 1.2em;
   font-weight: bolder;
   text-transform: uppercase;
   opacity: 0;
   transition: .8s;
}

.gallery ul li .gambar-nama-gambar:hover  {
    filter: grayscale(40%);
}

.gallery ul li .gambar-nama-gambar p:hover  {
    transform: rotate(360deg);
    opacity: 1;
}

/* Overley */
.overley {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 1s;
    text-align: center;
    padding: 120px 0px;
}

.overley:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

}


.overley:target {
    animation: zoomDanFade .5s;
}

/* tombol close */
.overley .close {
    position: absolute;
    top:6%;
    /* right:0;
    left: 0; */
    color: #F7F7F8;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8em;
    background-color: rgb(20, 20, 20);
    border: 1px solid white ;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    
}

.overley:target .close {
    animation: slideDownFade .5s .5s forwards;
}

/* overley content */
.overley-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.overley .img-overley {
    width: 370px;
    height: 400px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

/* Navigasi */

.next .img-next, .prev .img-next {
    width: 70px;
    height: 93px;
}

.next {
    width: 70px;
    height: 93px;
    opacity: 0; 
}


.prev {
    width: 70px;
    height: 93px;
    opacity: 0; 
}


.overley:target .next {
    animation: fadeNav .5s .5s forwards;
}

.overley:target .prev {
    animation: fadeNav .5s .5s forwards;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 10px;
    font-family: monospace;
    font-size: 1.5em;
    color: #F7F7F8;
    text-transform: capitalize;
}

/* animasi ketika terjadi overley */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: 1;
        opacity: 1;
    }
}

/* animasi tombol close ketika overley  */
@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

/* animasi tombol nav ketika terjadi overley */
@keyframes fadeNav  {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* layar ukuran max sampai 576px */
@media only screen and (max-width: 576px) {

    .container {
        justify-content: center;
        margin: 10px;
    }

    .judul {
        font-size: 5.5em;
    }

    .gallery {
        width:100%;
        height: auto;
    }
    
    .gallery ul {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }

    .gallery ul li .img-1{
        width: 280px;
        height: 280px;
        margin: 70px;
        
    }

    .gallery ul li p {
        left: 180px;
        font-size: 1.5em;
        line-height: 430px;
    }

    .overley .close {
        top: 25%;
    } 

    .overley-content {
        column-gap: 2px;
    }

    .overley .img-overley {
        width: 280px;
        height: 300px;
  }
    .next .img-next, .prev .img-next {
        width: 50px;
        height: 73px;
    }

    .footer {
        margin-bottom: 10px;
    }
}

/* ukuran layar dari 576px sampai 992px */
  @media only screen and (min-width:576px) and (max-width: 992px) {

    .gallery {
        width: 700px;
        height: 800px;
    }

    .gallery ul li {
        margin: 10px;
    }    

    .gallery ul li .img-1  {
        width: 300px;
        height: 300px;
    }

    .gallery ul li p {
        left: 120px;
        font-size: 1.5em;
        line-height: 300px;
    }

    .overley .close {
        top: 20%;
    } 

    .footer {
        margin-top: 35px;
    }
    

   }


